#btnTop{
    position: fixed;
    bottom: 0px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: rgb(237, 243, 249);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    flex-direction: row;

}
html{
    scroll-behavior: smooth;
}