footer{
    background-color: #1c1c39;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 100px;
    align-items: center;
    justify-content: center;

}
.section-footer{
    display: flex;
}
footer figure img{
    width: 50%;
    margin-left:5% ;
}
.left{
    display:flex ;

}
.left ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.left ul li{
    margin-bottom: 25px;
}
.right{
    display:flex ;

}
.right ul{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right ul li{
    margin-bottom: 25px;
}
footer span{
    background-color: rgba(255, 255, 255, 0.05);
    height: 150px;
    width: 2px;
    margin-left: 20px;
    margin-right: 20px;
}
.linha-horizontal{
    background-color: rgba(255, 255, 255, 0.05);
    height: 2px;
    width: 100%;
    margin-top: 50px;
}
.icon-footer {
    color: white;
    display: flex;
    gap:50%;
    align-items: center;
    justify-content: center;
}
