footer {
    background-color: #1c1c39;
    display: flex;
    color: white;
    padding: 100px;
    align-items: center;
    justify-content: space-evenly;
    gap: 10%;
}


footer img {
    width: 14rem;
    float: left;
}


.icon-footer {
    color: white;
    display: flex;
    gap: 50%;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}