.integrantes-coluna1{
    margin-top: 10%;
    margin-bottom: 10%;
    justify-content: center;
    display: flex;
    text-align: center;
    gap: 5%;
    
}
.integrantes-coluna1 .card{
    width: 15vw;
    height: 40vh;
    transition: 1s  ease-in   cubic-bezier(0.42, 0, 0.65, 1.7)  ;
    background-color:white;
    box-shadow: 1px 1px 6px 2px black;
    border-radius: 10%;
    border: 1px solid black;
}

.integrantes-coluna1 img{
    width: 7vw;
    object-fit: cover;
    height: 15vh;
    border-radius: 50%;
    margin-top: 15%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
}
.integrantes-coluna1 .card h4{
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 300;
    color: black;
    margin-top: 5%;
    font-size: 1.3rem;

}
.integrantes-coluna1 .card h5{
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 300;
    color: black;
    margin-top: 5%;
    font-size: 0.8rem;
 
}
.card-content{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style:preserve-3d;
    transition: transform 0.8s;
}
.card:hover .card-content{
    transform: rotateY(180deg);
}
.front, .back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}
.back{
    background-color:white;
    transform: rotateY(180deg);
    box-shadow: 0px 0px 1px 1px black;
    border-radius: 10%;
    border: 1px solid black;
}
.card .back h4{
    color: black;
    font-family: 'Signika Negative', sans-serif;
}

.card .back .icones a{
    color: black;
   
}
.card .back .icones a:hover{
    color: rgb(40, 111, 243)
}
.card .back .icones{
   margin-top: -30%;
   margin-bottom: -30%;
    display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;


}

.card .back .informacoes{
    height: 70%;
    width: 90%;
    text-align: justify;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 700;
} 


   

/*.card:hover{
    width: 16vw;
    box-shadow:0 15px 40px 15px #4a8cd8 ;
    transition: 1s transform  cubic-bezier(1,-0.01,0,1.01) ;
    background:linear-gradient(150deg,rgb(5, 5, 99) 15%, rgb(53, 127, 211) 100% );
    transform: rotateY(200deg);
}*/
/*SEGUNDA SEÇAO DE CARDS*/
.integrantes-coluna2{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5%;
    margin-top: -3%;
    
    
}
.integrantes-coluna2 .card2{
    width: 15vw;
    height: 40vh;
    transition: 1s  ease-in   cubic-bezier(0.42, 0, 0.65, 1.7)  ;
    background-color:white;
    box-shadow: 1px 1px 6px 2px black;
    border-radius: 10%;
    border: 1px solid black;

}


.integrantes-coluna2 img{
    width: 7vw;
    object-fit: cover;
    height: 15vh;
    border-radius: 50%;
    margin-top: 15%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
}

.integrantes-coluna2 .card2 h4{
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 300;
    color: black;
    margin-top: 5%;
    font-size: 1.3rem;


}
.integrantes-coluna2 .card2 h5{
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 300;
    color: black;
    margin-top: 5%;
    font-size: 0.8rem;
}

.card2 .back h4{
    color: black;
    font-family: 'Signika Negative', sans-serif;
}
.card2:hover .card-content{
    transform: rotateY(180deg);
}

.card2 .back .icones a{
    color: black;
   
}
.card2 .back .icones a:hover{
    color: rgb(40, 111, 243)
}
.card2 .back .icones{
    display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

.card2 .back .informacoes{
    height: 50%;
    width: 90%;
    text-align: justify;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 700;
} 


