.parceiros{
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}
.parceiros figure{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.50);
    border-radius: 15px;
    padding: 20px;
    height: 150px;
}
figure img{
    width: 25em;
}
.z1{
    display: flex;
    justify-content: center;
    align-items: center;
}
h5{
    color: rgb(0, 0, 36);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600; 
    font-family: 'Signika Negative', sans-serif;
    margin: 40px;
}
.parceiros figure:hover {
    scale: 1.02;
  }