.background-projeto {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(120deg, rgb(5, 5, 99) 40%, rgb(36, 86, 144) 100%);
    margin-top: 20%;
    padding-bottom: 4%;
    height: 100vh;
}

.parte-projeto {
    color: white;
    text-align: center;
}

.imagem1 {
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
    margin-top: 5%;
}

.imagem1:hover {
    transform: translateY(-10px);
    transition: all 0.5s ease-in-out;
}

.imagem1 img {
    width: 350px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    animation: ease-in-out;

}

.titulo-projetos {
    text-align: center;
    padding-bottom: 2%;
    color: white;
    font-weight: 400;
    font-family: 'Signika Negative', sans-serif;
}

.background-projeto figcaption {
    text-align: center;
    padding-top: 2%;
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Signika Negative', sans-serif;
}

.background-projeto figure {
    background-color: rgba(255, 255, 255, 0.049);
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.projetos {
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.conteudoProjeto {
    margin-left: 0%;
    width: 900PX;
}

.telaProjeto {
    margin-bottom: 2%;
    width: 40%;
    margin-left: 10%;

}

.tituloProjeto {
    color: white;
    font-size: 40px;
    width: 450px;
    font-weight: 700;
}

.descricaoProjeto {
    color: white;
    margin-right: 10%;
    font-size: 18px;
    text-align: left;
    font-weight: 300;
}

.principal-projeto {
    color: white;
    margin-top: 10%;
    margin-bottom: -5%;
}