@media screen and (min-width: 1500px) and (max-width: 4000px) and (orientation: landscape) {
    header img{
       width: 10px;
    }
    header a{
        text-decoration: none;
        color: white;
        margin-right: 30px;
        font-size: 1.4rem;
    }
    .home{
        height: 70vh;
        align-items: center;
    }
    .home h1{
        color: white;
        font-size: 7rem;
        font-family: 'Signika Negative', sans-serif;
        width: 55rem;
        margin-left: 5%;
        font-weight: 700;
    
    }
    .home h3{
        font-size: 1.5rem;
        font-family: 'Signika Negative', sans-serif;
    }
    .home .botao{
        padding: 20px;
        font-size: 1.2rem;
        font-family: 'Signika Negative', sans-serif;
        font-weight: 600;

    }
    .home .imgastro{
        width: 30rem;
        margin-bottom: 20px;
      
    }

  }
  